* {
    color: rgb(247, 48, 240);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

html {
    overflow-x: hidden;
}

/* Overlay Style */
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.formContainer {
    background-color: white;
    border-radius: 1vw;
    max-width: 40vw;
    height: 95vh;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.formContainer::-webkit-scrollbar {
    display: none;
}

.formContainer .on-image {
    height: 45vh;
    overflow: hidden;
}

.formContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border: none;
    color: rgb(247, 48, 240);
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.outershell {
    padding: 10px;
}

.formContainer .on-name-desc {
    padding: 3vh 1.5vh 4vh 1.5vh;
    border-bottom: 1px solid #facee9;
}

.formContainer .on-name-desc h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #B91EB3;
}

.formContainer .on-name-desc p {
    color: #d134ccef;
    font-size: 1rem;
    text-align: justify;
    margin-top: 0.5vh;
}

.formContainer .on-name-desc h3 {
    color: #B91EB3;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 1.5vh;
}

#prod-form {
    width: 100%;
    max-height: calc(100% - 9%);
    height: calc(100% - 5%);
    overflow-y: auto;
}

#prod-form::-webkit-scrollbar {
    display: none;
}

.on-choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1.5vh 2vh 1.5vh;
}

.on-choose h2 {
    font-size: 1.1rem;
    color: #B91EB3;
}

.on-choose button {
    justify-content: center;
    border-radius: 1vh;
    font-size: 0.9rem;
    padding: 5px 10px;
    color: #B91EB3;
    background-color: #facee9;
    font-weight: 500;
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    margin-right: 10px;
    display: inline-block;
    width: 1.5vh;
    background-color: #fff;
    padding: 2vh;
    height: 1.5vh;
    border: 2px solid #f834b0;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

/* When the radio button is checked, change color to black */
input[type="radio"]:checked+.custom-radio {
    background-color: white;
    border: 2px solid #f834b0;
}

input[type="radio"]:checked+.custom-radio::after {
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #f834b0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-down {
    display: flex;
    width: calc(40vw - 5px);
    height: 10%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 2.6%;
    background-color: #fff;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    padding-left: 2vh;
}

.form-down button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    padding: 1.5vh;
    cursor: pointer;
    border: 1.5px solid #B91EB3;
    transition: background-color 0.3s;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

.form-down button:active {
    transform: scale(0.95);
}

.form-down button img {
    width: 15px;
    height: 15px;
}

.prod-quantity {
    display: flex;
    padding-right: 2vh;
    flex: 1;
}

.form-down .addtobasket {
    background-color: #facee9;
    border: none;
    color: #d134ccef;
    flex: 3;
    font-size: 0.9rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-down .addtobasket span{
    margin-left: 5px;
}

.form-down .addtobasket:hover{
    color: white;
    background-color: #f95cba;
}

.form-down .addtobasket:hover span{
    color: white;
}

#product-price-display {
    font-size: 1rem;
    font-weight: 500;
    color: #B91EB3;
    padding: 0;
    margin: 0 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requir3 {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    color: rgb(195, 186, 186);
    border-radius: 20px;
    font-weight: bold;
}

.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1.5vh;
    border-bottom: 1px solid #facee9;
}

.option-container label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-container .custom-radio {
    margin-left: auto;
}

.on-sequest {
    padding: 1.5vh;
}

.on-sequest p {
    margin: 1vh 0;
    font-size: 0.9rem;
}

.on-sequest textarea {
    width: 100%;
    border-color: #facee9;
    text-decoration: none;
    border-radius: 1vh;
    padding: 2vh;
    resize: none;
    outline: none;
    font-size: 1rem;
}

.on-sequest textarea::-webkit-scrollbar {
    width: 10px;
    height: 10vh;
}

.on-sequest textarea::-webkit-scrollbar-thumb {
    background: #f9afdd;
    border-radius: 5px;
    border-left: 1px solid #d090b7;
    border-right: 1px solid #d090b7;
}

.on-sequest textarea::-webkit-scrollbar-track {
    border: 1px solid #d090b7;
    border-radius: 5px;
}

.on-sequest textarea::placeholder {
    color: #d134cccf;
}

.modal-content {
    padding: 20px;
    background: white;
    width: 500px;
    height: auto;
    text-align: left;
    color: #B91EB3;
    border-radius: 10px;
    position: relative;
}

.modal-content h2, .modal-content p, .modal-content label{
    color: #B91EB3;
}

.modal-content label{
    padding: 2vh;
    border-bottom: 2px solid #fa8cbe;
}

#checkout-modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#address, input[type="radio"], #phone{
    width: 100%;
    resize: none;
    border: 1px solid #f834b0;
    border-radius: 5px;
    padding: 10px;
    color: #B91EB3;
    outline: none;
}

#address::placeholder, #phone::placeholder{
    color:#d134cccf;
}

#address:focus{
    border: 2px solid #f95cba;
}

#btnConfirmCancel{
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 2vh;
    padding: 5vh 0 1vh 0;
}

#btnConfirmCancel button{
    padding: 8px 13px;
    color: white;
    background: #fa8cbe;
    border: none;
    border-radius: 1vh;
    font-size: 1rem;
    cursor: pointer;
}

#btnConfirmCancel button:hover{
    background-color: #f95cba;
}

#my-address, #my-contact{
    border: 1px solid #f95cba;
    padding: 3px;
    border-radius: 5px;
    outline: none; 
}

.close-button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5rem;    
    background-color: #B91EB3;
    border-radius: 50%;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button span{
    color: white;
}