body {
    font-family: 'Open Sans';
}

.tab-links {
    display: flex;
    justify-content: center;
}

.tab-links button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    border: 1px solid #FA8BCE;
    color: #B91EB3;
}

#btn1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#btn2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab-links button.active {
    background-color: #FA8BCE;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.card {

    display: flex;
    width: 80%;
    max-height: 25vh;
    position: relative;
    font-family: 'Open Sans';
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    overflow: hidden;
    justify-content: start;
}



.photo {
    max-height: 25vh;
    height: 25vh;
    max-width: 19vh;
    width: 19vh;
    background-color: white;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    padding: 1vh 0 0 1vh;
}

#imgCard {
    max-height: 20vh;
    height: 18vh;
    width: 18vh;
    border-radius: 2vh;
    position: relative;
    overflow: hidden;
}

.details {
    width: 65%;
    padding-top: 1vh;
    padding-left: 1.1vh;
    text-align: left;
}

.details h2 {
    font-family: Apricot;
    color: #B91EB3;
    font-size: 2rem;
    margin: 0;
}

.details p {
    color: #d978b2;
    font-family: 'Open Sans';
    font-size: 0.95rem;
    margin: 0;
}

#bottom_text {
    position: absolute;
    display: block;
    color: #B91EB3;
    bottom: 10px;
    right: 10px;
}

#bottom_text p {
    display: block;
    z-index: 10;
    font-size: 1rem;
    padding-right: 10px;
    text-align: right;
    margin: 0;
}

#bottom_text #total {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

#cancelled_order:hover {
    cursor: no-drop;
}

#cancelled_order {
    font-family: 'Open Sans';
    background-color: #FA8BCE;
    color: white;
    padding: 0.3rem;
    width: 10vw;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    font-weight: 600;
}

#cancelling {
    font-family: 'Open Sans';
    background-color: #FA8BCE;
    color: white;
    padding: 0.3rem;
    width: 10vw;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    font-weight: 600;
}

#myForm {
padding:20px;
}

#cancel {
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
}

#cancel::-webkit-scrollbar {
    width: 7px;
    /* Width of the scrollbar */
   
}

#cancel::-webkit-scrollbar-thumb {
    background: #fa8bce;
    /* Scrollbar color */
    border-radius: 5px;
    /* Rounded corners */
}

#cancel::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.cancelOrderForms {
    padding: 20px;
}

#cashIn {
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
}


#cashIn::-webkit-scrollbar {
    width: 7px;
}

#cashIn::-webkit-scrollbar-thumb {
    background: #fa8bce;
    border-radius: 5px;
    
}

#cashIn::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Track color */
}

.card {
    margin-bottom: 10px;
    /* Add some space between cards */
}