* {
    margin: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
    color: #B91EB3;
}

body {
    background-color: #fff5fb;
    padding-bottom: 10vh;
}

@font-face {
    font-family: 'apricot';
    src: url('../Font/apricot.otf') format('opentype');
}

.status-error{
    display: block;
    text-align: center;
    margin-top: 2vh;
    color: #B91EB3;
}

#cat-name {
    width: 90%;
    margin: auto;
    padding-top: 5vh;
    color: #b91eb3;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 5vh;
}

.outer {
    width: 80%;
    margin: auto;
    height: 50vh;
    background: #fff5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.03);
}

.left {
    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to right, transparent, #ffffff 50%);
}

.left a {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.left a:hover img {
    transform: scale(1.05)
}

.left a #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left a:hover #overlay {
    opacity: 1;
}

.left a #overlay p{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.proimage {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.up {
    height: 50%;
    display: flex;
}

.outer .inner .right .bottom {
    height: 50%;
}


.outer .inner .right .bottom p {
    color: #e053db;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: justify;
}

.outer .inner .right .up .uleft h2 {
    color: #b91eb3;
    font-family: Apricot;
    font-size: 3rem;
    line-height: 50px;
}

.outer .inner .right .up .uleft {
    width: 60%;
}

.outer .inner .right .up .uright {
    width: 40%;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    text-align: right;
    line-height: 65px;
}

.outer .inner .right .up .uright h3 {
    color: #b91eb3;
    font-size: 2.2rem;
}

.outer .inner .right .up .uright button {
    color: white;
    background-color: #fa8bce;
    border: none;
    border-radius: 30px;
    padding: 10px 60px;
    font-size: 1.3rem;
    cursor: pointer;
}

.outer .inner .right .up .uleft p {
    color: #929191;
    font-size: 1rem;
}

.right {
    width: 73%;
    height: auto;
    padding: 20px 20px;
    justify-content: start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* **************star**************** */
/* **************star**************** */
.star-rating {
    display: inline-block;
    margin-top: 10px;
    /* Size of the stars */
    position: relative;
}

.star {
    display: inline-block;
    position: relative;
    width: 25px;
    /*size ng star */
    height: 25px;
    /*size ng star */
    background-color: #d3d3d3;
    /* Default gray for empty stars */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    /** star **/
}

.rating {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* Full stars */
.star.full {
    background-color: gold;
    /* Full stars in gold */
}

/* Popup styles */
.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100000;
    display: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.popup-image span {
    position: absolute;
    top: -0.5rem;
    right: 10px;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    padding: 0;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -5%);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    max-height: 550px;
    height: 100%;
}

#prod-review{
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    flex-direction: column;
}

#prod-review::-webkit-scrollbar {
    width: 10px;
    height: 10vh;
}

#prod-review::-webkit-scrollbar-thumb {
    background: #f9afdd;
    border-left: 1px solid #d090b7;
    border-right: 1px solid #d090b7;
}

#prod-review::-webkit-scrollbar-track {
    border: 1px solid #df9bc5;
}


#review-tag{
    color: #B91EB3;
    font-size: 1.5rem;
    margin-bottom: 2vh;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

#total-reviews{
    font-size: 1.2rem;
    color: #e053db;
}

#prod-review #review-card{
    width: 100%;
    max-height: 50vh;
    height: auto;
    padding: 2vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    border-radius: 1vh;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.03);
}

#prod-review #review-card img{
    width: 40px;
    height: 40px;
    border-radius: 1vh;
}

#prod-review #review-card #name-rating{
    padding-left: 1vh;
    flex: 1;
}

#prod-review #review-card #name-rating p{
    color: #B91EB3;
    font-weight: 500;
    font-size: 1.1rem;
}

#prod-review #review-card #comment{
    padding-top: 1vh;
    color: #e053db;
}