body {
    font-family: 'Open Sans';
}

#balance {
    display: flex;
    padding: 5px 0;
    background-color: gray;
    width: 275px;
    gap: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #FA8BCE;
    margin: 20px auto;
    font-weight: 700;
}

#txtBalance {
    font-size: 1rem;
    color: #f95cba;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 700;
}

#txtWallet {
    color: #B91EB3;
    font-size: 1.3rem;
    padding-top: 5px;
    margin: 0;
    font-weight: 700;
}

#cashInBtn {
    display: block;
    width: 100px;
    background-color: white;
    height: 100px;
    gap: 0;
    border: 2px solid #FA8BCE;
    border-radius: 70%;
    cursor: pointer;
    color: #f95cba;
    font-family: 'Open Sans'
}

#cashInBtn img {
    display: block;
    margin: auto;
    margin-top: 5px;
}

#cashInBtn p {
    width: 100%;
    display: block;
    margin: auto;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

#cashInBtn:hover {
    background-color: #FA8BCE;
    color: white;
}

.tab-container {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.tab-links {
    display: flex;
    justify-content: center;
}

.tab-links button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    border: 1px solid #FA8BCE;
}

.tab-links button.active {
    background-color: #FA8BCE;
    color: white;
}

#btn1 {
    border-top-left-radius: 5px;
    color: #B91EB3;
}

#btn2 {
    border-top-right-radius: 5px;
    color: #B91EB3;
}

.tab-content {
    padding: 0;
    display: none;
}

.tab-content.active {
    display: block;
}

.table-container {
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
}

#th {
    background-color: white;
    border: 1px solid #FA8BCE;
    border-top: none;

}

th,
td {
    transition: background-color 0.3s;
    text-align: center;
}

td {
    background-color: #feeaf7;
    border: 1px solid #FA8BCE;
}

th {
    width: 100%;
}

tr:hover {
    background-color: #FA8BCE;
    cursor: pointer;
}

/* Adding scroll to the table */
.c_recharge {
    max-height: 365px;
    overflow-y: auto;
    display: block;
    table-layout: fixed;
}

#t1 {
    width: 10%;
}

#t2 {
    width: 5%;
}

#t3 {
    width: 5%;
}


.c_recharge::-webkit-scrollbar {
    width: 7px;
}


.c_recharge::-webkit-scrollbar-thumb {
    background: #fa8bce;
    border-radius: 5px;
}


.c_recharge::-webkit-scrollbar-track {
    background: #f0f0f0;
}

/* Adding scroll to the table */
.c_payment {
    max-height: 365px;
    overflow-y: auto;
    display: block;
    table-layout: fixed
}

#h1 {
    width: 10%;
}

#h2 {
    width: 5%;
}

#h3 {
    width: 12%;
}

#h4{
    width: 5%;
}

.c_payment::-webkit-scrollbar {
    width: 7px;
}


.c_payment::-webkit-scrollbar-thumb {
    background: #fa8bce;
    border-radius: 5px;
}


.c_payment::-webkit-scrollbar-track {
    background: #f0f0f0;
}

#nofound{
    background-color:#feeaf7;
    margin:auto;
    display: block;
    justify-content: center;
    text-align: center;
    width:100%;
    padding:15px;
    border:1px solid #f95cba;
}