body{
    width: 100%;
    margin: auto;
    
   
}

#product{
  
    color: violet;
    text-align: center;
    padding: 10px;
    background-color: #fce4ec;
}

#font{
    font-style:italic;
    color: #800080;
    font-size: 30px;

}

#images{
    display: flex;
    width: 100%;
    padding: 20px;
   text-align: center;
    height: 200;
    background-color:white;
    padding-top: 10;
}


#image1{
    display: flex;
    width: 100%;
    padding: 10px;
   text-align: center;
    height: 200;
    background-color:white;
    padding-top: 0px;
    text-decoration: none;
}

#img1 {
   
  border-radius: 4px;
  padding: 20px;
  width: 50%;
  padding-left: 110px;
  color: #800080;
  

}

#img2 {
   
    border-radius: 4px;
    padding: 20px;
    width: 50%;
    padding-right: 110px;
    color: #800080;
}

#img3 {
   
    border-radius: 4px;
    padding: 20px;
    width: 50%;
    padding-left: 140px;
    color: #800080;
    
}


#img4 {
   
    border-radius: 4px;
    padding: 20px;
    width: 50%;
    padding-right: 110px;
    color: #800080;
    
}

#container2{
    width: 70%;
}

